
  h1{
    text-align: center;
    margin-top: 10px;
    /* color: var(--color-fuerte); */
}

#carrito-title{
    /* color: #f0f0f0; */
    color: var(--color-oscuro);
    text-shadow: 3px 3px 6px var(--color-principal);
    font-weight: 900;
    font-size: 2.5em;
    margin-top: 15px;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.card-body img{
    width: 30px;
    height: 45px;
}


#totales{
    display: flex;
    justify-content: center;
    
}



#totales p, #totales button {
    margin:0px 30px 15px 0px;
    align-items: center;
    font-size: larger;
}

.mas button{
    background-color: rgb(233, 61, 61);
    padding: 5px 10px;
    color: var(--fondo-claro);
    /* font-weight: 600px; */
    font-size: larger;
}


#carrito-vacio{
    text-align: center;
}

#continuar-compra{
    display: none;
    text-align: center;
}

#agregarMas a{
    text-decoration: none;
}

#reiniciar:hover,  #carrito-vacio a:hover, #agregarMas a:hover{
    padding: 5px 8px;
    border-radius: 10px;
    background-color:rgb(233, 61, 61);
    color: var(--fondo-claro);

}
.mas button:hover{
    background-color: var(--fondo-oscuro);
}
#reiniciar, #carrito-vacio a, #agregarMas a{
    border-style: none;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: var(--fondo-oscuro);
    color: #ffecd1;
}
